.profile{
    padding: 70px 0 90px;
    margin: auto;
    width: 300px;
    background-color: #f7f8f9;
    height: 100%;
}
.avatar{
    width: 100px;
    height: 100px;
    color: white;
    margin: auto;
    text-align: center;
    padding-bottom:  30px;
    font-size: 70px;
    background-color: #7cbbf2;
    border-radius: 50%;
    box-shadow: inset 0 0 20px 2px rgba(0, 0, 0, 0.6);
}
.name{
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
}
.email{
    text-align: center;
}
.icon{
    display: flex;
    justify-content: space-around;
    padding: 15px;
    text-align: center;
    margin-top: 30px;
}
.socialTitle, .mediaTitle {
    padding-left: 40px;
    margin: 30px 0 30px 0;
}

.social{
    width: 250px;
    background-color: white;
    margin: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 10px;
}
.media{
    width: 250px;
    background-color: white;
    margin: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 10px;
    display: flex;
}
.mediaBlue{
    padding: 15px;
    margin: 0 15px 0 ;
    border-radius: 4px;
    background-color: #89ccf5;
}
