.contacts {
  background-color: #f7f8f9;
}
.form-contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.input {
  border: 0;
}
.users {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  padding: 5px;
}
.users-avatar {
  width: 50px;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  background-color: #7cbbf2;
  border-radius: 50%;
  box-shadow: inset 0 0 20px 2px rgba(0, 0, 0, 0.6);
}
.users-names {
  width: 170px;
  padding: 0 5px;
  text-align: left;
}
.fullname {
}
.users-text {
  font-size: 14px;
  color: #c0c1c1;
}
.users-time {
  font-size: 14px;
  color: #c0c1c1;
  text-align: right;
}
